:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --brand-background-color: #e5e5e5;
  --accent-text-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background-color: var(--brand-background-colorcolor);
}
.logo {
  color: #000000;
}
.logo > span {
  color: var(--accent-text-color);
}
.link {
  color: var(--title-text-color);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--accent-text-color);
}
